* {
    padding: 0;
    margin: 0;
  }
  .puzzle {
    border: 0.04rem solid #ccc;
    margin-bottom: 0.3rem;
    margin-top: 2rem;
    margin: 2rem auto;
  }
<<<<<<< HEAD
  .puzzle .puzzle_block {
=======
  .puzzle .block {
>>>>>>> 0a431a81324b44b359177f0da79bfd70c5f820a8
    border: 0.04rem solid #ccc;
  }
  